* {
  margin: 1;
  padding: 1;
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  background-image: url(/images/casey-horner-RmoWqDCqN2E-unsplash.jpg);
}
header {
  text-align: center;
}
body {
  //   background: linear-gradient(to top, #5199f7, #89b882);
  background-image: url(/images/casey-horner-RmoWqDCqN2E-unsplash.jpg);
  color: whitesmoke !important;
}

main {
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

// .btn {
//   border-color: lightblue;
//   border-radius: 2rem;
//   background-color: #eee;
//   color: #222;
//   font-size: 1rem;
//   font-family: inherit;
//   margin: 0.5rem;
//   padding: 1rem 1rem;
//   cursor: pointer;
// }
.btns {
  margin: 0 auto;
  width: auto;
  margin-right: 0;
}
.btn:hover {
  background-color: #ccc;
}

.ch {
  padding: 0rem 1rem;
  width: 8rem;
}

.trip {
  background: none;
  /* border: 2px solid; */
  border-color: lightblue;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 2.5rem;
  width: 50%;
  text-align: left;
  display: block;
  margin: 0 auto;
  margin-left: 0;
  /* margin-right: 500px; */
}

.navbar .navbar-nav {
  position: absolute;
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: left;
}

nav {
    position: absolute !important;
    top: 50%;
}

@media screen and (max-width: 991px) {
  nav {
      position: relative !important;
      top: auto;
    flex-direction: row;
  }
  .navbar .navbar-nav {
    position: relative;
  }
}
