{{ define "main" }}
  {{ .Content }}
  <div class="btns">
    <ul>
      <li >
        <button class="btn btn-primary start">Start</button>
      </li>
      <li >
        <button class="btn confirm">Confirm</button>
      </li>
      <li >
        <button class="btn ch change-dest">Change Destination</button>
      </li>
      <li >
        <button class="btn ch change-din">Change Dining</button>
      </li>
      <li >
        <button class="btn ch change-tran">Change Transport</button>
      </li>
      <li >
        <button class="btn ch change-ent">Change Entertainment</button>
      </li>
    </ul>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Button</button>
    <button class="btn btn-primary" type="button">Button</button>
  </div>
{{ end }}
